---
import { Icon } from 'astro-icon/components';
import '../styles/global.css';
import banner from '../assets/banner.jpg';
---

<section class="flex flex-col md:flex-row px-4 sm:px-6 lg:px-8 h-[80vh] max-w-screen-xl mx-auto">
  <div class="flex flex-col w-full bg-sky-100 h-full rounded-t-3xl md:rounded-t-none md:rounded-l-3xl p-10 gap-4 md:gap-7 justify-center">
    <h1 class="font-semibold text-4xl md:text-5xl text-center md:text-left">Jahaira Store</h1>
    <p class="text-neutral-600 text-sm md:text-md text-center md:text-left text-pretty">Elegancia y tendencias de Shein a tu alcance. Moda y estilo al mejor precio, encuentra lo que amas y luce increíble cada día.</p>

    <p class="text-neutral-600 text-sm md:text-md text-center md:text-left font-semibold">Tiendas disponibles:</p>
    <div class="flex gap-3 justify-center md:justify-start">
      <div class="flex items-center bg-gray-300/70 rounded-full px-5 py-2">
        <Icon name="shein" class="w-15" />
      </div>
      <div class="flex items-center bg-gray-300/70 rounded-full px-3 py-2">
        <Icon name="amazon" class="w-20 h-4.5" />
      </div>
    </div>

    <div class="flex flex-col w-full justify-center items-center mt-5 gap-3 sm:flex-row">
      <a href="#products-section" class="flex justify-center items-center text-sm rounded-2xl p-3 w-40 border-1 border-neutral-400">
        <span class="font-semibold">Más información</span>
      </a>

      <a href="#products-section" class="flex justify-center items-center text-sm bg-black rounded-2xl p-3 w-40 gap-3">
        <span class="text-white font-semibold">Ver productos</span>
        <Icon name="arrow-down" class="size-5 animate-bounce" />
      </a>
    
    </div>

  </div>
  <img src={banner.src} class="w-full h-full rounded-b-3xl md:rounded-bl-none md:rounded-r-3xl object-cover" alt="">
</section>