---
import { Icon } from 'astro-icon/components';
import { socialmedia } from './data';
import '../styles/global.css';
---

<footer class="bg-white border-t-1 border-t-neutral-200 mt-10">
  <div class="mx-auto flex flex-col max-w-screen-xl items-center gap-3 px-4 py-5 sm:px-6 lg:px-8 sm:justify-between sm:flex-row">
    <div class="flex flex-col gap-1">
      <span class="font-semibold text-lg text-center sm:text-left">Jahaira Store</span>
      <span class="text-neutral-600 text-sm md:text-md text-center md:text-left text-pretty">Elegancia y tendecias de Shein a tu alcance</span>
    </div>

    <div class="flex items-center gap-4">
      {socialmedia.map((link) => 
        <a
          class="size-10 text-black transition rounded-full hover:bg-sky-100"
          href={link.url} target="_blank"
        >
          <Icon name={link.name} class="size-full p-2" />
        </a>
      )}
    </div>
  </div>
</footer>