---
import { Icon } from 'astro-icon/components';
import { CartToggle } from './CartToggle';
import { Cart } from '../components/Cart'
import { socialmedia } from './data';
import '../styles/global.css';
---

<header class="bg-white border-b-1 border-b-neutral-200 sticky top-0 z-1">
  <div class="mx-auto flex relative h-16 max-w-screen-xl items-center px-4 sm:px-6 lg:px-8">
    <a class="flex items-center gap-3 text-teal-600 mr-2" href="/jahairastore-products">
      <Icon name="logo-letters" class="h-15 w-30 sm:w-40" />
    </a>

    <div class="flex flex-1 items-center justify-end gap-4">
      <!-- <nav aria-label="Global">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="#">Jahaira Store</a>
          </li>
        </ul>
      </nav> -->

      <CartToggle client:load/>

      <div class="items-center gap-4 hidden sm:flex">
        {socialmedia.map((link) => 
          <a
            class="size-10 text-black transition rounded-full hover:bg-sky-100"
            href={link.url} target="_blank"
          >
            <Icon name={link.name} class="size-full p-2" />
          </a>
        )}
      </div>
    </div>
    <Cart client:load/>
  </div>
</header>
