---
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/jahairastore-products/favicon.svg" />
		<meta property="og:title" content="Jahaira Store | Productos">
		<meta property="og:description" content="Elegancia y tendencias de SheIn a tu alcance">
		<meta name="description" content="Elegancia y tendencias de SheIn a tu alcance">
		<meta property="og:image" content="">
		<meta property="og:type" content="website">
		<meta name="generator" content={Astro.generator} />
		<title>Jahaira Store | Productos</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<slot />
	</body>
</html>